.rubric__title {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.4;
  margin-top: 35px;
}

@media screen and (max-width: 1281px) {
  .rubric__title {
    font-size: 33px;
    margin-top: 27px;
    line-height: 1.38;
  }
}

@media screen and (max-width: 700px) {
  .rubric__title {
    font-size: 26px;
  }
}
