.footer__dots {
  height: 460px;
  margin-left: -230px;
  margin-top: -245px;
  position: absolute;
  top: 50%;
  width: 490px;
}

@media screen and (max-width: 360px) {
  .footer__dots {
    display: none;
    visibility: hidden;
  }
}
