.peoples__quote-author {
  font-family: "Oswald", "Franklin Gothic Medium", "Arial Narrow", Arial,
  sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 1281px) {
  .peoples__quote-author {
    font-size: 13px;
  }
}
