.peoples__quote {
  margin: 26px 0 0;
}

@media screen and (max-width: 1281px) {
  .peoples__quote {
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  .peoples__quote {
    margin-top: 10px;
  }
}
