.photo-grid__title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.4;
  margin: 0;
  width: 80%;
}

@media screen and (max-width: 900px) {
  .photo-grid__title {
    margin-top: 20px;
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .photo-grid__title {
    margin-bottom: 20px;
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .photo-grid__title {
    font-size: 26px;
  }
}
