.rubric__name {
  color: #fc9;
  font-family: 'Oswald', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 1281px) {
  .rubric__name {
    font-size: 13px;
  }
}
