.footer__photo-author_position_right {
  right: 13%;
}

@media screen and (max-width: 900px) {
  .footer__photo-author_position_right {
    right: 15%;
  }
}

@media screen and (max-width: 500px) {
  .footer__photo-author_position_right {
    right: calc(50% - 75px);
    top: 50%;
  }
}
