.peoples {
  width: calc(100% - 170px);
  margin: 170px auto;
  position: relative;
}

@media screen and (max-width: 1281px) {
  .peoples {
    width: calc(100% - 135px);
    margin: 135px auto;
  }
}

@media screen and (max-width: 700px) {
  .peoples {
    width: calc(100% - 80px);
    margin: 80px 40px;
  }
}
