.peoples {
  margin: 170px auto;
  position: relative;
  width: calc(100% - 170px);
}

@media screen and (max-width: 1281px) {
  .peoples {
    margin: 135px auto;
    width: calc(100% - 135px);
  }
}

@media screen and (max-width: 700px) {
  .peoples {
    margin: 80px 40px;
    width: calc(100% - 80px);
  }
}
