.photo-grid__text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 60px 70px;
  z-index: 1;
}

@media screen and (max-width: 1150px) {
  .photo-grid__text-block {
    margin: 40px;
  }
}
