.footer {
  background-color: #fc9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 620px;
  min-height: 420px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .footer {
    justify-content: flex-start;
    min-height: 600px;
  }
}
