.intro__image {
  height: 400px;
  width: 400px;
}

@media screen and (max-width: 1024px) {
  .intro__image {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 753px) {
  .intro__image {
    grid-column: 1;
    grid-row: 1;
    height: 400px;
    justify-self: center;
    width: 400px;
  }
}

@media screen and (max-width: 420px) {
  .intro__image {
    height: 350px;
    width: 350px;
  }
}

@media screen and (max-width: 370px) {
  .intro__image {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 315px) {
  .intro__image {
    height: 250px;
    width: 250px;
  }
}
