.photo-grid__image {
  height: 530px;
  object-fit: cover;
  object-position: center;
  position: relative;
  width: 100%;
  z-index: 0;
}

@media screen and (max-width: 900px) {
  .photo-grid__image {
    height: 600px;
  }
}

@media screen and (max-width: 700px) {
  .photo-grid__image {
    height: 420px;
  }
}

@media screen and (max-width: 500px) {
  .photo-grid__image {
    height: 350px;
  }
}
