.intro__title {
  align-self: end;
  color: #ffcc99;
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Oswald', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
